:root {
	--c-text-light: #ffffff;
	--c-text-dark: #131313;
	--c-bg-light: #ffffff;
	--c-bg-dark: #131313;
	--c-theme: #009de6;
	--c-theme-dark: #007db8;
	--c-red: #ed254e;
	--c-yellow: #F4C95D;
	--c-green: #00b159;
	--c-green-dark: #3FA242;
	--c-letter-separator: #c0c0c0;
	--weight-normal: 700;
	--weight-bold: 900;
}

* {
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
	line-height: 1.25;
	font-weight: var(--weight-normal);
}

:focus {
	outline: 3px solid var(--c-text-dark);
}

a {
	text-decoration: none;
	color: var(--c-theme);
}

a:hover,
a:focus {
	color: var(--c-theme-dark);
}

body {
	margin: 0;
	background-color: #009de61e;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: var(--weight-bold);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type=number] {
	-moz-appearance: textfield;
}
